body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

/* Barra Navegação */

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.header a {
    display: block;
    padding: 10px;
}

.header a:hover {
    background: #ddd;
    color: black;
}

/* Menu da Barra Navegação */

.menu {
    display: flex;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu a:hover {
    background: #ddd;
    color: black;
}

/* Login e Register*/

.tab input{
    margin-top: 10px;
    margin-bottom: 5px;
}

.home-item {
    position: fixed;
    top: 80px;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
}

button#signup {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button#signup:hover {
    opacity: 1;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Formulario de sign up*/

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */

.tab {
    display: none;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
  

button{
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}

.icon {
    align-items: center;
    padding: 5px;
    background: #4CAF50;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
.input-field:focus {
    border: 2px solid #4CAF50;
}

/* FIM Login e Register*/

/*Cards*/

.home {
    width: 75%;
}

h1#home {
    text-align: center;
    margin-top: 180px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.card>div {
    flex: 1 1 200px;
    margin: 10px;
}

.card-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    font-family: arial;
    float: right;
}

.price {
    color: grey;
    font-size: 22px;
}

.card-item button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background: black;
    text-align: center;
    cursor: pointer;
    width: 92%;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}

/*FIM - Cards*/

/*Search bar*/

* {
    box-sizing: border-box;
}

form.searchbar-item input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.searchbar-item button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.searchbar-item button:hover {
    background: grey;
}

form.searchbar-item::after {
    content: "";
    clear: both;
    display: table;
}

/* FIM Search bar*/

/* Newsletter*/

form.newsletter {
    font-family: Arial;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter-container {
    padding: 10px;
    background-color: #f1f1f1;
}

.newsletter {
    max-width: 800px;
    margin: 0 auto;
}

.newsletter>div {
    margin: 10px;
}

input.newsletter-input[type=text], input.newsletter-input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.newsletter-input[type=checkbox] {
    margin-top: 16px;
}

input.newsletter-input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input.newsletter-input[type=submit]:hover {
    opacity: 0.8;
}

/* FIM Newsletter*/