header{
    height: 40vh;
    background-color: black;
    background:cover;
}

header nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 2em;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

header nav ul a{
    position: relative;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

header nav ul a:hover {
    background-color: rgba(255,255,255,0.7);
    color: #272525;
}

@media all and (max-width:800px){
    ul{
        flex-grow: 1;
        justify-content: space-between;
    }
}

@media all and (max-width:600px){
    ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}    